.jumbotron {
    background-color:black;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 0%;
}

.footer {
    position: absolute;
    bottom: 0%;
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    
}

.btn-reserva {
    width: 100%;
 
}

