.jumbotron {
    background-color: black;
    margin-top: 50px;
    color: white;
    border-radius: 0%;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}